*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Times New Roman', Times, serif;
}

.App{
  background-color: rgb(14, 14, 51);
  font-family: 'Times New Roman', Times, serif;
}
